*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TTNormsProCond-Blk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
}
.switch{
    width: 500px;
    display: flex;
    justify-content: end;
    gap: 8px;
    padding-top: 10px;
    padding-right: 10px;
}
.image{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 484px;
    padding-bottom: 8px;
    gap: 12px;
}
.section1{
    height: 650px;
    background:url(imag/hero_desktop\ \(1\).webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    flex-direction: column;
    
}
.sign-in{
     border-radius: 30px;
     height: 40px;
     width: 81.54px;
     background-color:#EB1700;
     color: white;
     font-weight: 700;
     font-size: 18px;
     border: none;

}
.delivery button{
    border-radius: 40px;
    width: 203px;
    height: 32px;
    margin-top:10px;
    padding-left: 12px;
    font-weight: bold;
    border: none;
}
.type{
    border-radius: 40px;
    width: 370px;
    height: 50px;
    padding-left: 50px;
    font-weight: 500;
    font-size: 16px;
    border: none;

}
.d-img{
    width: 42px;
    height: 24px;
}
.door-img{
    width: 155px;
    height: 18px;
}
.sign-up{
    border-radius: 40px;
    height: 40px;
    width: 90px;
    color: black;
    font-weight: bold;
    border: none;
}
.delivery h1{
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    max-width: 750px;
    margin-bottom: 10px;

}
.input-filed{
    position: relative;
}
.location-icon{
    position: absolute;
    left: 15px;
    top: 12px;

}

.input-button{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: red;
    position: absolute;
    right: 14px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.address-button{
    position: relative;
}
.user-icon{
    position: absolute;
    left: 12px;
    top: 18px;
}
@media screen and (max-width:1024px){

}