*{
    font-family: verdana;
    margin:0;
}

body{
    background-color: #eee;
}
.wrapper{

    width: 100% ;
    margin: 0 auto ;

}

.flex-container{
    display:flex ;
    background-color:#fff ;
    flex-wrap: wrap;
    height: 600px;
    flex-flow: row;

}

.box{
    width: 100px ;
    flex: 0 0 100px ;

}

.one{
    background-color: red;

}

.two{
    background-color: blue;

}

.three{
    background-color: green;
    
}
a.fb{
    background:url(./facebook\ img.png)no-repeat;
    background-size: 80%;
}
a.tw{
    background: url(./twitter-new-logo-.webp)no-repeat;
    background-size: 80%;
}
.social a{
    text-indent: -1000px;
}
.social{
    max-width: 0px;
    margin: 0 auto;
}
nav{
    background-color: #000000;
}
nav ul{
    list-style-type: none;
    padding: 0;
    
}
nav a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fff;
    padding: 10px;
   
}
nav ul.social{
    flex: 1 1 0;
    display: flex;
}
nav ul.social li{
    flex: 1 1 0;
}
@media screen and (min-width:678px){
    nav ul{
        display: flex;
    }
    nav li{
        flex: 1 1 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
   
    .social{
        margin: 0;
        padding: 18px;
    }
}
nav{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        height: auto;
        padding-right: 30px;
    }
    #blocks{
        margin: 20px;
    }
    article{
        background-color: #fff;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
    }
    article h2{
        text-align: center;
        font-size: 20px;
        margin: 10px 0;
    }
    #blocks{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        flex: 0 1 32%;
    }

